.btnS{
    background-color: #3C6E71;
    padding: 10px;
    border-radius: 8px;
    text-decoration: none;
    color: #CDD7D6;
    font-weight: bold;
    border: 1px solid #CDD7D6;
    width: 49.5%;
}
.btnS:active{
    background-color: #CDD7D6;
    color: #1A181B;
    border: 1px solid;
}

.container-projects{
    padding-top: 20px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 25px;
    gap: 20px;
    justify-content: center;
}
 
.conter-project{
  width: 65%;
  border: 4px solid #3C6E71;
  border-radius: 8px;
  padding: 10px;
  text-align: start;
}

.list-front{
  background-color: #3C6E71;
  padding-left: 14px;
  padding-right: 14px;
  padding-bottom: 10px;
  padding-top: 7px;
  color: #CDD7D6;
  font-weight: bold;
  border-radius: 8px;
}

.list-backend{
  background-color: #1A181B;
  padding-left: 14px;
  padding-right: 14px;
  padding-bottom: 10px;
  padding-top: 7px;
  color: #CDD7D6;
  font-weight: bold;
  border-radius: 8px;
}
@media only screen and (max-width: 600px) {
  .container-projects{
    width: 100%;
    height: max-content;
    padding-bottom: 20px;
  }
  .con-project{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: max-content;
    padding: 0;
    flex-direction: column;
  }

  .conter-project{
    width: 80%;
  }
  .code{
    width: 80%;
  }

  .code-anim {
    width: 80%;
    height: 100vh;
    font-size: 14px;
    display: inline;
    opacity: 1;
    animation: fadeInAnimation-code 1s ease-out forwards;
}

}
