.container-projects{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.div-project{
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cont-info-project{
  width: 70%;
  height: 50%;
  justify-content: center;
  display: flex;
  text-align: start;
  gap: 10px;
}
.cont-image{
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.image-project{
  width: 100%;
  border-radius: 8px;
}

.cont-info{
  width: 100%;
}
.name-project{
  color: #e94f37;
}

.container-button{
  display: flex;
  gap: 4px;
}
.btn-project{
  padding: 5px;
  border: 0;
  border-radius: 4px;
  font-weight: bold;
  color: #e94f37;
}
.source{
  background-color: #e94f37;
  color: #f6f7eb;
}
@media only screen and (max-width: 600px) {
  .container-projects{
    height: auto;
  }
  .div-project{
    height:auto;
    gap:30px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .cont-info-project{
    height: auto;
    flex-direction: column;
  }
.cont-image{
  width: 100%;
}

}


