.left-side{
    height: 60vh;
    padding: 0;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.center-info{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.container-info{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  align-items: center;
}
.container-skillss{
display: flex;
text-align: center;
align-items: center;
justify-content: center;
flex-direction: column;
width: 50%;
justify-content: center;
align-items: center;
}
.hi {
  font-weight:bold; 
  font-size:24px;
  padding-top: 20px;
  color:#e94f37;
  overflow: hidden;
  white-space: nowrap;
  animation: typing 3s steps(50) 1;
  }
  

  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }

  
.typing-effect {
    opacity: 0;
    color: #f6f7eb;
    animation: fadeInAnimation 2s ease-in forwards;
}
  
@keyframes fadeInAnimation {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

.container-contact{
    display: flex;
    justify-content:flex-end;
    flex-direction: column;
    align-items: start;
    gap: 7px;
    
}
.contact-btn{
    border: 0;
    padding: 10px;
    border-radius: 8px;
    width: 30%;
    font-weight: bold;
    background-color: #e94f37;
    color: #CDD7D6;
    cursor: pointer;
}



@media only screen and (max-width: 600px) {
  .left-side{
    height: max-content;
    padding: 0;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
  .typing-effect{
    width: 95%;
  }
  .hi{
    width: 95%;
    font-size: 20px;
  }
  .center-info{
    display: flex;
    flex-direction: column;
  }
  .container-info{
    width: 100%;
  }
  .container-skillss{
    width: 100%;
    }
    .contact-btn{
      width: 60%;
  }
}