.contanier-nav-bar{
display: flex;
justify-content: center;
}

.child-nav-bar{
    display:flex;
    width: 80%;
    justify-content:space-between;
    background-color:#393e41;
    text-align: center;
    align-items: center;
    font-size:14px;
    color:#f6f7eb;
    padding:10px;
    margin:15px;
    border-radius:12px;
}
.continar-btn-nav{
    display: flex;
    gap: 5px;
}
.btn-nav{
    background-color: #f6f7eb;
    padding: 6px;
    font-weight: bold;
    border: 0;
    
    border-radius: 6px;
}
.btn-nav:hover{
    background-color: #393e41;
    border: 1px solid #f6f7eb;
    color: #f6f7eb;

}

.btn-nav:active{
    background-color: #393e41;
    padding: 6px;
    border: 0;
    color: #f6f7eb;
    font-weight: bold;
    border-radius: 6px;
}
.title{
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}
@media only screen and (max-width: 600px) {
    .title{
        font-size: 18px;
        font-weight: bold;
    }
}