.contact-div{
    display: flex;
    gap:25px;
    justify-content:center;
    align-items:center;
    height:5vh;
}

@media only screen and (max-width: 600px) {
    .contact-div{
        display:flex;
        padding-top: 20px;
        flex-direction: column;
        gap:25px;
        justify-content:center;
        align-items:center;
        height:20vh
    }
}