*{
  padding: 0;
  margin: 0;
}
.App {
  padding: 0;
  margin: 0;
  text-align: center;
  justify-content: center;
  background-color: #00171f;
  display: flex;
  flex-direction: column;
  color: #f6f7eb;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}




::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 1px;
  height: 4px;
  background-color: #CDD7D6;
}

::-webkit-scrollbar-thumb {
  background-color: #1A181B;

}

.goTop{
  position:sticky;
  width: fit-content;
  bottom: 10px;
  left: 88.5%;
  border: 0;
  background-color: #1A181B;
  text-decoration: none;
  color: #CDD7D6;
  padding: 10px;
  padding-bottom: 7px;
  border-radius: 10px;
  padding-top: 12px;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  
}